# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Environments
.venv/
venv/
env/

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# Outputs
outputs/plots/*.png
outputs/logs/*.csv
outputs/logs/*.json
outputs/animations/*.gif
outputs/animations/*.mp4

# OS
.DS_Store
Thumbs.db
